@using RestaurantRoulette.Models;
@{
  Layout = "_Layout";
}
<body>
  <div class="nav_bar">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Restaurant Roulette</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/">Log Out</a></li>
            </ul>
          </div>
        </nav>
        <div class="logo">
            <img class="mainLogo" src="~/Images/RestaurantRouletteLogo.png" alt="picture of logo">
          </div>
      </div>
      <div class="element-align">
        <br>
        <br>
        <br>
        <br>
        <h4><strong>User Profile</strong></h4>
        <div class="heading">
          <p>@Model.GetName()</p>
          <p>@Model.GetBio()</p>
      </div>
        <div class="container">
          <form class="price">
            <div class="form-group">
              <label for="formControlRange">Price Range</label>
              <div class=priceRange>
                <p>$25 - $100</p>
              </div>
              <div class="slidecontainer">
                <input type="range" min="1" max="200" value="@Model.GetPrice()" class="slider" id="myRange">
                <h3>@Model.GetPrice()</h3>
              </div>
            </div>
          </form>
        </div>
        <div class="container">
          <form class="price">
            <div class="form-group">
              <label for="formControlRange">Distance Range</label>
              <div class=distanceRange>
                <p>1 mile - 5 mile</p>
              </div>
              <div class="slidecontainer">
                <input type="range" min="1" max="10" value="@Model.GetDistance()" class="slider" id="myRange">
                <h3>@Model.GetDistance()</h3>
              </div>
            </div>
          </form>
        </div>
        <div class="show_buttons">
          <a href="/users/@Model.GetId()/edit" class="btn btn-danger btn-lg" role="button">Edit My Details</a>
          <a href="/users/@Model.GetId()/all" class="btn btn-danger btn-lg" role="button">All Options</a>
          <a href="/users/@Model.GetId()/favorites-list" class="btn btn-danger btn-lg" role="button">Fav Options</a>
        </div>
      </div>
    </body>
