@using RestaurantRoulette.Models;
@{
 Layout = "_Layout";
}

 @if (@Model.Count == 0)
{
 <h3>No Users have been added yet!</h3>
}

@foreach (User user in Model)
{

  <h2>@user.GetName()</h2>
  <h2>@user.GetPassword()</h2>
}




<form class="" action="user/edit" method="post">

  <h2>@Model.GetDistance()</h2>
  <h2>@Model.GetPrice()</h2>

  <button type="submit" name="button">Edit Price and Distance</button>
</form>
